* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --headerHeight: 11%;
}

#header {

    position: fixed;
    width: 100%;
    height: var(--headerHeight);
    background-color: black;
    top: 0px;
    display: flex;
    align-items: center;
/*    flex-wrap: wrap;*/

/*    z-index: 5;*/

}


#header #headerInside {

    width: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    color: snow;
    flex-wrap: wrap;
    padding: 0px 15px;
/*    min-height: 11%;*/
   
}

@media(max-width: 400px) {

    #header {
        height: 25%;
    }
   
    #headerInside {
      justify-content: center;
    }
    #header div {
        min-width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #header_logo,#sections {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #sections ul {
        flex-direction: column;
    }

    #sections ul li {
        padding: 15px 0px;
        font-size:16px;
    }
}

#headerInside #sections {
    background-color: black;
    margin-left: auto;
}


#headerInside #sections ul {
    display: flex;
    flex-wrap: wrap;
}
#headerInside #sections ul li {
    padding: 15px;
}
