#bottom {
    background-color: darkslategray;
}

#announcement p {
    margin-bottom: 12px;
}
#announcement #welcomeText {
    font-size: 4vmax;
    color: wheat;
    font-family: fantasy;
}

#announcement > #centerText {
    color: white;
    font-size: 2.2vmax;
    font-family: serif;
}

#announcement #startRace{
    font-size: 4vmax;
    color: orangered;
    /*    font-weight: 700;*/
    font-family:fantasy;
}

#announcement #startRace:hover {
    color: aqua;
}


li {
    list-style-type: none;
    font-family:fantasy;
    font-size: 3.5vmax;

}

li:hover {
    cursor: pointer;
    color: burlywood;

}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    outline:none;
}

#middleContent {
    margin: auto;
}

#announcement p {
    font-size: 5vmin;
}