
#bottom {
    background-image: url("../images/race.jpg");
    background-size: cover;
    background-attachment: fixed;
}





header {
    margin-bottom: 15px;
    padding: 5px 30px;
    font-family: fantasy;
    background-color: darkolivegreen;
    color: wheat;
    border-radius: 20px;
    display: flex;
    justify-content: center;
/*    display: inline-block;*/
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 11px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 4px -4px 15px 0px #FF1F1F, 12px -11px 7px 0px #FF9376, 20px -5px 7px 0px #FFE264, 20px 6px 7px 0px #F6FF33, 13px 12px 17px 0px #FF9527, 2px 17px 17px 0px #FF0000, -9px 21px 18px 0px #FFF212, -9px 6px 11px 0px #FF0808, -11px -9px 11px 0px #FFFA17, -11px -9px 11px 0px #FFFA17, 11px 5px 15px 5px rgba(0, 0, 0, 0);
    align-self: center;
}



#display_panel {
    border: 2px solid blue;
    background-color: rgba(0, 4, 255, 0.27);
    display: flex;
    /*justify-content: space-around;*/
    min-height: min-content;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 20px;
    /* since here we have not specfied the width, it is by default set to auto */
    /* so when I did margin: 20px, I see that my width got reduced from both the left and right side why
    It is not caused by the fact that the div is a child of another div, but by the fact that I was not
    setting a specific width to the row div. Without a width specified, the width is auto, which means: use the
     width of the parent, subtracted by the width of the margins, paddings etc.

     so I set width to 100%, what do I see now when the margin is 20px, I see there is a horizontal scrolling bar which
     means since my width is fixed, to get the margin specified, this div will create a space around it self specifically
     to left and right and since more content is generated horizontally than vw, the horizontal scroll element was
     produced

     */
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}


li {
    list-style-type: none;
    font-family:fantasy;
    font-size: 22px;
    
}

li:hover {
    cursor: pointer;
    color: burlywood;
    
}

a, a:hover, a:focus, a:active {
      color: inherit;
      text-decoration: none;
        font-family: inherit;
}