

table {
/*    font-family: arial, sans-serif;*/
     font-family: monospace;
/*    border-collapse: collapse;*/
    width: 100%;
    border: 1px solid white;
}


td,
th {
    border: 1px solid white;
/*    text-align: left;*/
    padding: 2vmin;
/*    border-top-left-radius: 10p*/
}

table {

    border-collapse: collapse;
}

th {
    color: snow;
    font-size: 3.5vmin;
    text-align: center;
}

td {
    color: aliceblue;
    font-family: monospace;
    font-size: 3vmin;
    text-align: center;
    border: 1px solid white;
}

tr#you {
    background-color: goldenrod;
}



section h2 {
    color: honeydew;
}

section#accelerate button {
    /* height: 200px;
    width: 200px; */
    height:15vmax;
    width: 15vmax;
    border-radius: 180%;
    background-color: gold;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
    outline: none;
}

#accelerate p {
    text-align: center;
    font-size: 2.3vmin;
    color:snow;
    padding: 1.0vmin;
}

#display_panel section:nth-of-type(2) {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 35%; */
/*    align-self: center;*/

}



section h1, h2 {
    text-align: center;
    color: aliceblue;
    font-family: monospace;
    font-size: min(4.5vmin, 3vh);
}

#gas-peddle {
    font-family: fantasy;
    color: rgba(0, 0, 255, 0.8);
    font-size: 1.6vmax;
}

#gas-peddle:active {
    font-size: 1.8vmax;
    background-color: coral;
}





/**********************************************************************************************************************/
/* for after race completion result */


#results {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-height: 60vh;
/*    height: 100%;*/
}

#results div {
    margin: auto;
    font-size: min(5vmin, 4vh);
    font-family:fantasy;
    color: azure;

}

.resultTable {
    margin:auto;
}

#results div:hover {
    color:aquamarine;
    color:aquamarine;
    color:aquamarine;
    font-size: min(6vmin, 5vh);
}
