/* RESULTS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */


/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
    header {
        background-image: url("../images/race.jpg")
    }
    main {
        background-color:cornflowerblue;
    }
    footer {
        background-color:darkgoldenrod;
    }
    
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}